.selector{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 200px;
}

.selector input{
    width: 50px;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.selector button{
    outline: none;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    margin-left: 10px;
}

button.more{
    color: green;
    border-color: lightgreen;
}

button.more:hover{
    background-color: #b5ff8a;
    color: white;
}

button.less:hover{
    color: white;
    background-color: #ff8f8f;
}


button.less{
    color: red;
    border-color: salmon;
}

button.less:disabled{
    border-color: lightgray;
    color: lightgray;
}

button.less:disabled:hover{
    background-color: lightgray;
    color: white;
}